@import "materialize-css/dist/css/materialize.css";
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
body {
  font-family: "Luckiest Guy", cursive;
}
.btn {
  margin-right: 10px;
  font-weight: 700;
}
.auth {
  text-align: center;
}
div.authWr {
  background-repeat: repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  border-radius: 30px;
  background-image: url("https://res.cloudinary.com/dnkftif1n/image/upload/v1608744016/projectsGitHUB/winter/photo-winter-1_acfsgb.jpg");
}

.title-link {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: transparent;
  font-size: 5vmin 900;
  text-align: center;
}
.form {
  margin: 130px;
}

.input-field {
  margin: 55px 15px;
}
.input-field label {
  font-size: 19px;
  margin-bottom: 18px;
}

.form-wrapper {
  opacity: 0.9;
}
